@viewport {
  width:auto;
  zoom:auto;
}

#pagetitle {
  color: #123456;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight : 500;
  font-size: 7.5vw;

  padding: 5%;

  position: fixed;
  top: 23%;
  left: 28vw;
}

input[type="search"] {
  font-size: 25px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 150;
}

#searched {
  position:absolute;
  top: 50%;
  left: 23%;
  width: 55%;
  min-width: 15%;
  height: 4.5%;
  min-height: 3.5%;

  margin: auto;

  padding: 0.5%;

  font-size: 25px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: lighter;

}

#submit-btn {
  margin: auto;
  position:absolute;
  top: 55.5%;
  min-width: 8%;
  min-height: 3.5%;
  left: 45%;
  display: block;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .75em;
  letter-spacing: 1px;
  height: 4.5%;
  width: auto;
  line-height: 38px;
  overflow: hidden;
  background: #4dbecf;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(black,.1);
  border: 0;
  cursor: pointer;
  transition: all .3s ease;

  &:hover,
  &:focus {
    box-shadow: 0 5px 15px rgba(black,.1);
  }

  &.animated {
    animation: .75s short-press cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
  }

  > span {
    display: block;
    color: white;
    text-align: center;

    &.pre-state-msg {
      transition: all .7s cubic-bezier(0.770, 0.000, 0.175, 1.000);
      transition-delay: .75s;
    }
  }

  &.state-1 {
    .pre-state-msg {
      margin-top: -38px;
    }
  }

  &.state-2 {
    .pre-state-msg {
      margin-top: -76px;
    }
  }
}

#mode {
  width: auto;
}

#popup {
  position: absolute;
  bottom: 1%;
  font-size: 15px;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
